.gallery-template {
    width: 50%;
    margin: auto;
}
.gallery-template .gallery-content {
    margin: auto;
    text-align: center;
}
.gallery-template .gallery-content p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.gallery-template .photo-gallery {
    margin: 20px;
}
.gallery-template .photo-gallery a {
    border: 1px solid white;
    display: inline-block;
}
.gallery-template .photo-gallery img {
    width: 100%;
    height: auto;
}

@media all and (max-width: 600px) {

    .gallery-template .gallery-content {
        width: unset;
    }
    .gallery-template .gallery-content img {
        width: 100%;
    }

}