* {
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100%;
    font-display: swap;
    font-family: "Teko", Sans-serif;
    --back: #04051A;
    --fore: #191A3A;
    --trim: #ed208b;
    --font: #ffffff;
    background-color: var(--back);
    color: var(--font);
}
a {
    color: white;
    text-decoration: none;
}
img {
    border: none;
}
header {
    height: 100px;
    background-image: url("/wordpress/content-header-background");
    background-position: top;
    background-size: cover;
    border-bottom: 2px solid var(--trim);
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}
#logo {
    width: 120px;
    height: 70px;
    margin-top: 15px;
    margin-left: 100px;
}
nav {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 100px;
}
nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
}
nav span {
    display: flex;
    flex-flow: nowrap;
    height: 36px;
}
nav li:not(:last-child)::after {
    content: '|';
    color: var(--trim);
    font-size: 15px;
    vertical-align: middle;
}
nav ul a {
    text-decoration: none;
    padding: 1em;
    color: var(--font);
}
.social {
    background-color: var(--trim);
    font-size: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
    text-align: center;
}
.social i {
    vertical-align: middle;
    margin-top: 7px;
}
section {
    border-bottom: 1px solid var(--trim);
}
section h1 {
    color: var(--font);
    text-align: center;
    font-size: 72px;
    padding-top: 50px;
}
#content {
    margin-top: 100px;
}
#splash {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.splash-title {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.splash-background video {
    width: 100%;
    display: block;
    pointer-events: none;
}
video::-webkit-media-controls {
    display: none !important;
    pointer-events: none;
}
.splash-title h2 {
    color: var(--trim);
    font-size: 153px;
    font-weight: 600;
}
.splash-title p {
    font-size: 37px;
    font-weight: 600;
    letter-spacing: 1.3px;
    margin-top: -50px;
}
#charity {
    text-align: center;
    width: 100%;
    height: 232px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--trim);
    border-bottom: 2px solid var(--trim);
}
.charity-background {
    height: 100%;
    width: 100%;
}
.charity-title {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
#parallax {
    height: 100%;
    width: 100%;
    background-image: url("/wordpress/content-charity-parallax");
    background-position: center;
    background-size: cover;
}
#charity h2 {
    font-size: 69px;
    font-weight: 600;
}
#charity p {
    font-size: 19px;
}
#events {
    background-image: url("/wordpress/content-events-background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#events .tile h3 {
    font-size: 50px;
}
#events .tile h4 {
    font-family: "Helvetica", Sans-serif;
    font-size: 1.125rem;
    font-weight: 100;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.625em;
    letter-spacing: 0px;
}
.button-container {
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--trim);
    color: var(--font);
    border: 0;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
}
.more, .tickets {
    font-family: "Teko", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    width: fit-content;
}
#models {
    background-image: url("/wordpress/content-models-background");
    text-align: left;
    letter-spacing: 3px;
    background-position: bottom center;
    background-size: cover;
}
#models .more {
    background-color: #191A3A;
    color: var(--font);
}
#djs {
    background-image: url("/wordpress/content-djs-background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#board {
    display: flex;
    flex-flow: column wrap;
}
#board h1, #separator {
    margin: auto;
}
#separator {
    padding-bottom: 50px;
}
.contact {
    padding: 1em;
}
.contact a {
    padding: .5em;
    font-size: 24px;
}
.contact a:link, .contact a:visited {
    color: var(--trim);
}
#partners-grid {
    display: flex;
    flex-flow: row wrap;
}

.instagram, .soundcloud {
    font-size: 24px;
    margin: 20px;
    padding: 20px;
}
.instagram i, .soundcloud i {
    vertical-align: middle;
}
.instagram {
    background-color: var(--trim);
}
.soundcloud {
    background-color: #ff7700;
}


#partners .title {
    background-image: url("/wordpress/content-partners-background");
    text-align: left;
    letter-spacing: 3px;
    background-position: bottom center;
    background-size: cover;
    margin: 0px;
    width: 100%;
}
#partners h1 {
    text-align: left;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}
#partners-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto !important;
    padding-top: 50px;
    padding-bottom: 50px;
}
#partners-grid div {
    justify-self: center;
    align-self: center;
}
#partners-grid div img {
    width: 200px;
}
#circuitmom {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
footer {
    height: 50%;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/wordpress/content-footer-background");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer div {
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
}
footer div * {
    margin: 5px;
}
.learn-more {
    margin: 0px;
    color: #ff00ff;
    font-weight: bold;
}
footer h3 {
    font-size: 30px;
}
footer .social {
    width: 50px;
    height: 50px;
    font-size: 25px;
}
footer .social i {
    margin-top: 12px;
}
footer p {
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}
footer span, footer a {
    text-align: center;
}
#email {
    padding: 5px 25px 5px;
    border-radius: 5px;
    height: 22px;
}
#email::placeholder {
    color: var(--trim);
    text-align: center;
}
#signup {
    background-color: var(--trim);
    color: var(--font);
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    text-align: center;
    padding: 30px 40px;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}
.container {
    position: relative;
    width: 50%;
}
.container .image {
    display: block;
    width: 100%;
    height: auto;
}
.container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .75s ease;
    background-color: var(--trim);
}
.container:hover .overlay {
    opacity: 1;
}
.container .hover-text {
    color: black;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
}
#models .container .overlay {
    background-color: var(--fore);
}
#models .container .hover-text {
    color: var(--font);
}
#djs .container .hover-text {
    font-size: 30px;
    font-weight: bold;
}
#mobileToggle {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
}
.tile {
    margin: 10px;
    background-color: var(--fore);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    justify-self: center;
    align-self: center;
}
.tile img {
    width: 100%;
    object-fit: cover;
}

#events .tile {
    width: 80%;
    border: 1px solid var(--font);
    margin: 25px;
    background-color: var(--fore);
}
#events .tile img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
#models .grid {
    grid-template-columns: repeat(6, 1fr);
}
#djs .grid {
    grid-template-columns: repeat(4, 1fr);
}
#galleries .tile, #galleries .tile img {
    width: 350px;
    height: 231px;
}
#models .tile, #models .tile img {
    width: 178px;
    height: 219px;
}
#models .tile {
    background-color: rgba(0, 0, 0, .1);
    filter: drop-shadow(25px 25px 25px #222);
}
#djs .tile, #djs .tile img {
    width: 278px;
    height: 361px;
}
#board .grid {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
}


.konami {
    transform: rotate(5deg);
    filter: invert(1);
}
.konami-spin {
    position: absolute;
    top: 0%;
    left: 0%;
    animation: spin 4s linear infinite;
}
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
}

@media all and (600px < width < 800px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
}

@media all and (width < 600px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    #logo {
        margin-top: 15px;
        margin-left: 15px;
    }
    nav {
        margin-right: 20px;
        flex-direction: column;
        align-items: baseline;
    }
    nav ul {
        display: none;
        flex-direction: column;
        clear: both;
    }
    nav li {
        padding-left: 10px;
        background-color: var(--fore);
    }
    nav li + li {
        border-top: 1px solid white;
    }
    nav li:not(:last-child)::after {
        content: '';
    }
    #mobileToggle {
        display: block;
        margin-left: 20px;
    }
    .splash-background video {
        width: 100%;
        height: 250px;
    }
    .splash-title {
        text-align: center;
        margin-top: 0px;
    }
    .splash-title h2 {
        text-align: center;
        line-height: 50px;
        font-size: 50px;
    }
    .splash-title p {
        text-align: center;
        line-height: 20px;
        font-size: 20px;
        margin-top: unset;
    }
    #events .more {
        margin-top: 0px;
    }
    .emphasized {
        width: unset;
        margin: 10px;
    }
    .emphasized img {
        width: -webkit-fill-available;
        object-fit: contain;
        height: unset;
    }

    #models h1 {
        font-size: 40px;
    }
    #djs .hover-text {
        font-size: 10px !important;
        overflow-wrap: break-word;
    }
    #partners-grid {
        width: 90%;
    }
    #partners-grid img {
        width: 100px !important;
    }
    #partners h1 {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
    #board h1 {
        padding-bottom: 0px;
    }
    footer {
        flex-flow: column nowrap;
    }
    footer h3 {
        font-size: 24px;
        text-align: center;
    }
    footer div {
        width: 80%;
        margin: auto;
        margin-top: 20px;
        text-justify: auto;
    }

    .info {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid {
        padding: 20px;
        align-items: center;
        justify-content: center;
    }
    #events .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    #djs .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    #models .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    #board .grid {
        padding: 0;
        width: unset;
        grid-template-columns: repeat(2, 1fr);
    }


    #galleries .tile, #galleries .tile img {
        border-radius: 0px;
        width: 120px;
        height: 80px;
    }
    #djs .tile, #djs .tile img {
        width: 90px;
        height: 120px;
    }
    #models .tile {
        filter: none;
        width: 120px;
    }
    #board .tile {
        width: 99%;
        height: 100%;
        margin: 1px;
        border-radius: 0;
    }
}